/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
google-credentials.json
.idea/
.vscode/
.composer
/public/build/
supervisord.pid
.php-cs-fixer.cache
