openapi: 3.0.3
info:
  title: 'relay-api API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://relay-api.blumilk.local.env'
tags:
  -
    name: Endpoints
    description: ''
paths:
  /api/login:
    post:
      summary: ''
      operationId: postApiLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: gbailey@example.net
                password:
                  type: string
                  description: ''
                  example: '|]|{+-'
              required:
                - email
                - password
      security: []
  /api/user:
    get:
      summary: ''
      operationId: getApiUser
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/logout:
    post:
      summary: ''
      operationId: postApiLogout
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/devices:
    get:
      summary: ''
      operationId: getApiDevices
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      operationId: postApiDevices
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
                  nullable: true
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: g
                type:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: z
                model:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: m
                  nullable: true
                brand:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: i
                  nullable: true
                serial_number:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'y'
                  nullable: true
                location:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: v
                installation_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-03-11T13:51:29'
                  nullable: true
                notes:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
              required:
                - name
                - type
                - location
      security: []
  '/api/devices/{uuid}':
    get:
      summary: ''
      operationId: getApiDevicesUuid
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      operationId: putApiDevicesUuid
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                type:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'n'
                model:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: g
                  nullable: true
                brand:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: z
                  nullable: true
                serial_number:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: m
                  nullable: true
                location:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: i
                installation_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-03-11T13:51:30'
                  nullable: true
                notes:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
      security: []
    delete:
      summary: ''
      operationId: deleteApiDevicesUuid
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: uuid
        description: ''
        example: 3eb6686f-77f5-3b9e-a230-b7916437d194
        required: true
        schema:
          type: string
  /api/devices/generate-qr:
    post:
      summary: ''
      operationId: postApiDevicesGenerateQr
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
                  nullable: true
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: g
                type:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: z
                model:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: m
                  nullable: true
                brand:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: i
                  nullable: true
                serial_number:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'y'
                  nullable: true
                location:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: v
                installation_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-03-11T13:51:30'
                  nullable: true
                notes:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
              required:
                - name
                - type
                - location
      security: []
  '/api/devices/{device_uuid}/show-qr':
    get:
      summary: ''
      operationId: getApiDevicesDevice_uuidShowQr
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: device_uuid
        description: ''
        example: 3eb6686f-77f5-3b9e-a230-b7916437d194
        required: true
        schema:
          type: string
  /api/hello:
    get:
      summary: ''
      operationId: getApiHello
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Hello, World!'
                properties:
                  message:
                    type: string
                    example: 'Hello, World!'
      tags:
        - Endpoints
      security: []
