openapi: 3.0.3
info:
  title: 'relay-api API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://relay-api.blumilk.local.env'
tags:
  -
    name: Endpoints
    description: ''
paths:
  /api/register:
    post:
      summary: ''
      operationId: postApiRegister
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: zbailey@example.net
                password:
                  type: string
                  description: ''
                  example: architecto
              required:
                - name
                - email
                - password
      security: []
  /api/login:
    post:
      summary: ''
      operationId: postApiLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: gbailey@example.net
                password:
                  type: string
                  description: ''
                  example: '|]|{+-'
              required:
                - email
                - password
      security: []
  /api/auth/google:
    post:
      summary: ''
      operationId: postApiAuthGoogle
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                provider_token:
                  type: string
                  description: ''
                  example: architecto
              required:
                - provider_token
      security: []
  /api/auth/2fa/verify:
    post:
      summary: ''
      operationId: postApiAuth2faVerify
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                intermediate_token:
                  type: string
                  description: ''
                  example: architecto
                code:
                  type: string
                  description: ''
                  example: architecto
              required:
                - intermediate_token
                - code
      security: []
  /api/password/email:
    post:
      summary: ''
      operationId: postApiPasswordEmail
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: gbailey@example.net
              required:
                - email
      security: []
  /api/password/reset:
    post:
      summary: ''
      operationId: postApiPasswordReset
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: ''
                  example: architecto
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: zbailey@example.net
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: '-0pBNvYgxw'
              required:
                - token
                - email
                - password
      security: []
  '/api/public/devices/{uuid}':
    get:
      summary: ''
      operationId: getApiPublicDevicesUuid
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'No query results for model [Relay\Models\Device].'
                properties:
                  message:
                    type: string
                    example: 'No query results for model [Relay\Models\Device].'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: uuid
        description: ''
        example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
        required: true
        schema:
          type: string
  '/api/public/devices/{uuid}/faults':
    post:
      summary: ''
      operationId: postApiPublicDevicesUuidFaults
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                  nullable: true
                reported_by:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: v
                  nullable: true
                contact:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: d
                  nullable: true
              required:
                - title
      security: []
    parameters:
      -
        in: path
        name: uuid
        description: ''
        example: fc9ee2de-e9ba-36cb-8e18-b0472fdd1478
        required: true
        schema:
          type: string
  /api/user:
    get:
      summary: ''
      operationId: getApiUser
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/logout:
    post:
      summary: ''
      operationId: postApiLogout
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/auth/2fa/setup:
    post:
      summary: ''
      operationId: postApiAuth2faSetup
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/devices:
    get:
      summary: ''
      operationId: getApiDevices
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      operationId: postApiDevices
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
                  nullable: true
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: g
                type:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: z
                model:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: m
                  nullable: true
                brand:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: i
                  nullable: true
                serial_number:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'y'
                  nullable: true
                location:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: v
                installation_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-05-16T11:25:05'
                  nullable: true
                notes:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
              required:
                - name
                - type
                - location
      security: []
  '/api/devices/{uuid}':
    get:
      summary: ''
      operationId: getApiDevicesUuid
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      operationId: putApiDevicesUuid
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                type:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'n'
                model:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: g
                  nullable: true
                brand:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: z
                  nullable: true
                serial_number:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: m
                  nullable: true
                location:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: i
                installation_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-05-16T11:25:05'
                  nullable: true
                notes:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
      security: []
    delete:
      summary: ''
      operationId: deleteApiDevicesUuid
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: uuid
        description: ''
        example: fc9ee2de-e9ba-36cb-8e18-b0472fdd1478
        required: true
        schema:
          type: string
  /api/devices/generate-qr:
    post:
      summary: ''
      operationId: postApiDevicesGenerateQr
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
                  nullable: true
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: g
                type:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: z
                model:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: m
                  nullable: true
                brand:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: i
                  nullable: true
                serial_number:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'y'
                  nullable: true
                location:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: v
                installation_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-05-16T11:25:05'
                  nullable: true
                notes:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
              required:
                - name
                - type
                - location
      security: []
  '/api/devices/{device_uuid}/show-qr':
    get:
      summary: ''
      operationId: getApiDevicesDevice_uuidShowQr
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: device_uuid
        description: ''
        example: fc9ee2de-e9ba-36cb-8e18-b0472fdd1478
        required: true
        schema:
          type: string
  '/api/devices/{device_uuid}/assign':
    post:
      summary: ''
      operationId: postApiDevicesDevice_uuidAssign
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: 16
              required:
                - user_id
      security: []
    parameters:
      -
        in: path
        name: device_uuid
        description: ''
        example: fc9ee2de-e9ba-36cb-8e18-b0472fdd1478
        required: true
        schema:
          type: string
  '/api/devices/{device_uuid}/assign/{user_id}':
    delete:
      summary: ''
      operationId: deleteApiDevicesDevice_uuidAssignUser_id
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: device_uuid
        description: ''
        example: fc9ee2de-e9ba-36cb-8e18-b0472fdd1478
        required: true
        schema:
          type: string
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/devices/{device_uuid}/users':
    get:
      summary: ''
      operationId: getApiDevicesDevice_uuidUsers
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: device_uuid
        description: ''
        example: fc9ee2de-e9ba-36cb-8e18-b0472fdd1478
        required: true
        schema:
          type: string
  '/api/users/{user_id}/devices':
    get:
      summary: ''
      operationId: getApiUsersUser_idDevices
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 1
        required: true
        schema:
          type: integer
  /api/faults:
    get:
      summary: ''
      operationId: getApiFaults
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  '/api/faults/{fault_id}':
    get:
      summary: ''
      operationId: getApiFaultsFault_id
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    patch:
      summary: ''
      operationId: patchApiFaultsFault_id
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: ''
                  example: in_progress
                  enum:
                    - pending
                    - in_progress
                    - resolved
              required:
                - status
      security: []
    parameters:
      -
        in: path
        name: fault_id
        description: 'The ID of the fault.'
        example: 3
        required: true
        schema:
          type: integer
  '/api/devices/{device_uuid}/faults':
    get:
      summary: ''
      operationId: getApiDevicesDevice_uuidFaults
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: device_uuid
        description: ''
        example: fc9ee2de-e9ba-36cb-8e18-b0472fdd1478
        required: true
        schema:
          type: string
  /api/hello:
    get:
      summary: ''
      operationId: getApiHello
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Hello, World!'
                properties:
                  message:
                    type: string
                    example: 'Hello, World!'
      tags:
        - Endpoints
      security: []
